{% block navbar %}

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="{{ path('app_homepage') }}">
                    {{ 'views.navbar.title'|trans }}
                </a>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>
                        {{ 'views.navbar.menu'|trans }}
                    </span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li>
                    <a href="{{ path('zimzim_constructionsite_constructionsite_list') }}">
                        {{ 'views.navbar.listconstructionsite'|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="divider"></li>
                    <li class="has-dropdown not-click">
                        <a href="javascript:void(0);">{{ 'views.navbar.admin'|trans }}</a>
                        <ul class="dropdown">
                            <li class="title back js-generated">
                                <a href="javascript:void(0)">{{ 'views.navbar.return'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('zimzim_constructionsite_constructionsite') }}">
                                    {{ 'views.navbar.constructionsite'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('zimzim_constructionsite_typeactionitem') }}">
                                    {{ 'views.navbar.typeactionitem'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('zimzim_constructionsite_actionitem') }}">
                                    {{ 'views.navbar.actionitem'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="divider"></li>
                <li class="has-form">
                    {% if is_granted('ROLE_USER') %}
                        <a class="tiny button" href="{{ path('fos_user_security_logout') }}">
                            {{ 'views.navbar.logout'|trans }}
                        </a>
                    {% else %}
                        <a class="tiny button" href="{{ path('fos_user_security_login') }}">
                            {{ 'views.navbar.login'|trans }}
                        </a>
                    {% endif %}
                </li>
                <li class="divider"></li>
            </ul>
        </section>
    </nav>

{% endblock navbar %}