{% block navbar %}

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="#">
                    {{ 'views.navbar.title'|trans }}
                </a>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>
                        {{ 'views.navbar.menu'|trans }}
                    </span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">


                {% if is_granted('ROLE_USER') %}
                {% endif %}
                <li class="divider"></li>
                <li class="has-form">
                    {% if is_granted('ROLE_USER') %}
                        <a class="tiny button" href="{{ path('fos_user_security_logout') }}">
                            {{ 'views.navbar.logout'|trans }}
                        </a>
                    {% else %}
                        <a class="tiny button" href="{{ path('fos_user_security_login') }}">
                            {{ 'views.navbar.login'|trans }}
                        </a>
                    {% endif %}
                </li>
                <li class="divider"></li>
            </ul>
        </section>
    </nav>

{% endblock navbar %}