{% extends '::base.html.twig' %}


{% block title %}
    {{ 'zimzim_constructionsite_typeactionitem.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="medium-12 columns">
            <h1 class="text-center title">Entity</h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="width-100 panel">
                <tbody>
                    <tr>
                        <th>Id</th>
                            <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                            <td>{{ entity.name }}</td>
                    </tr>
                </tbody>
            </table>

                        <div class="row">
    <div class="small-4 columns text-left">
        <a class="link-return" href="{{ path('zimzim_constructionsite_typeactionitem') }}">
            <i class="icon-arrow-left icon-large vertical"></i>
            {{ 'link.return'|trans }}
        </a>
    </div>
    <div class="small-4 columns text-center">
        <a class="tiny button" href="{{ path('zimzim_constructionsite_typeactionitem_edit', { 'id': entity.id }) }}">
            {{ 'button.update'|trans }}
        </a>
    </div>
    <div class="small-4 columns text-center">
        {{ form(delete_form) }}
    </div>
</div>
        </div>
    </div>
{% endblock %}
