{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block title %}" }}
    {{ "{{ '" ~ route_name_prefix ~ ".index.title'|trans }}" }}
{{ "{% endblock title %}" }}

{{ "{% block page %}" }}
    <div class="row">
        <div class="medium-12 columns">
            <h1 class="text-center title">{{ entity }} edit</h1>
        </div>
    </div>

    <div class="panel">
        {{ '{{ form(edit_form) }}' }}
    </div>


    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ "{% endblock %}" }}
{% endblock body %}
